

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
ul li {
    display: inline;
}
ul a{
    padding: 10px 30px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
} 1

.container {
  display: flex;
}
.innpakning {
width:auto;
background-color: #b2b8c9; 
margin: auto; 
display: flex; 
flex-direction: column; 
flex-wrap: wrap; 
} 
ul {
    height:auto;
    padding: 5px;
    margin: 5px;   
}
.topptekst {
    text-align: center;
    padding: 60px;
    background-image: url(vann.jpg);
    repeat: none;
    color: #000000;
}

.main {
  padding: 1px;
  margin-top: 30px;
  height: 1000px; 
}
